.main {
  margin: auto;
  width: 450px;
  height: 100%;
}

.heading_text {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: #202223;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-grow: 0;
}

.first_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  height: 32px;
  padding-left: 2px;
  padding-right: 4px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
.first_section h1 {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: .84rem;
  line-height: 1.32rem;
  /* identical to box height, or 150% */

  color: rgba(0, 0, 0, 0.5);
}

.second_section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.discount {
  background: #008060;
  border: 2px solid #008060;
  border-radius: 4px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: .84rem;
  line-height: 20px;
  width: 9rem;
  /* identical to box height, or 143% */
  padding: 4px;
  text-align: center;
  color: #ffffff;
}

.product_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 13.5rem;
}
.product_item_container {
  display: flex;

  flex-direction: column;
  column-gap: 10px;
  margin-bottom: 15px;
}
.third_section {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: aqua; */
  justify-content: space-between;
}
.list_variant_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.list_variant_container button {
  border: 0;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.32rem;
  /* identical to box height, or 175% */
  background-color: transparent;
  text-decoration-line: underline;

  color: #006eff;
}

.subItem_container {
  display: flex;
  align-items: center;

  margin-left: 2.5rem;

  margin-bottom: 10px;
 
  width: 100%;
}

.endLine
{
  width: 431.06px;
height: 0px;
left: 330.97px;
top: 398.5px;

border: 1px solid rgba(0, 0, 0, 0.1);
}

.subItem {
  width: 100%;
  height: 31px;
  column-gap: .75rem;
  /* column-gap: 1rem; */
  display: flex;

  color: rgba(0, 0, 0, 0.8);
}
.img_util_cancel
{
  margin-right:2rem;
}

.subItem_hero
{
  margin-left: 1rem;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  height: 25px;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.8);
  width:8.5rem ;

}
.subItem_product
{
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  height: 25px;
  /* identical to box height, or 150% */
  font-size: .8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.8);
  width:3rem;
}
.subItem_type
{
  width: 4.5rem;
 
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  height: 25px;
  font-size: .8rem;
  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.8);
}
.subItem h2 {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: .84rem;
  line-height: 1.32rem;
  text-align: center;
}
.subHeading
{
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: space-around;
font-family: 'SF Pro Text';
font-style: normal;

/* identical to box height, or 114% */


color: rgba(0, 0, 0, 0.9);
}
.discount_product{
  font-weight: 600;
font-size: 14px;
margin-right: 3rem;
text-align: left;
line-height: 16px;
}
.discount_text
{ font-weight: 600;
  font-size: 14px;
  margin-right: 6rem;
  line-height: 16px;

}

.add_product {
  border: 2px solid #008060;
  border-radius: 4px;
  background-color: transparent;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: .84rem;
  line-height: 20px;
  /* identical to box height, or 143% */
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 1rem;
  width:12rem;

  color: #008060;
}
.add_product_container {
 
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding-right: 10px;
  margin-top: 30px;
}
.img_util {
  padding-left: 1rem;
  padding-right: 1rem;
}
.subitem {
  display: none;
}
.show {
  display: block;
}

.head_title {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: rgba(0, 0, 0, 0.9);
}
.head_img {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  object-fit: cover;
}
.addDiscount {
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  display: none;
}
.discount_hidden {
  display: none;
}
.input_discount {
  width: 4.2rem;
  height: 1.9rem;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.discount_select {
  width: 6rem;
  height: 2.15rem;
  outline: none;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1rem;

}
.list_variant_container button
{
 
  align-items: center;
}

option
{
  background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.productCount {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1rem;
  /* identical to box height, or 114% */
  padding-right: 3px;

  color: rgba(0, 0, 0, 0.8);
}

.inner_btn
{
  display: flex;
  align-items: center;
}

.visible {
  display: block
}

.invisible {
  display: none;
}

@media only screen and (max-width: 600px) {
 
}
